.containerFormulaire {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: gainsboro;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
  }